<canvas  id="canvas"></canvas>

<mat-menu #contextMenu="matMenu">
  <button mat-menu-item (click)="traerAlFrente()">Traer al frente</button>
  <button mat-menu-item (click)="llevarAlFondo()">Llevar al fondo</button>
</mat-menu>
<button mat-button [disabled]="true" [matMenuTriggerFor]="contextMenu"></button>

<br>


<button class="tamaño-boton" (click)="exportarSVG()">Guardar SVG</button>
<button class="tamaño-boton" (click)="devolverAlmacen()">Console del almacen</button>
<button class="tamaño-boton" (click)="cargar()">Refrescar datos</button>
<button class="tamaño-boton" (click)="devolverAlmacenTiempoReal()">Almacen Tiempo Real</button>

<div class="contenedor">
  <div class="figuras-list">
    <ul>
      <li *ngFor="let figura of figuras; let i = index" (click)="seleccionarFiguraLista(figura!)">
        <button class="tamaño-lista">Forma {{ figura.forma + ' ' + ( i + 1)}}</button>
      </li>
    </ul>
  </div>



  <div class="propiedades-figura" *ngIf="objetoSeleccionado">
    <div *ngIf="esLinea(objetoSeleccionado)">
      <label for="color">Selecciona el color de relleno: </label>
      <input type="color" id="color" [value]="objetoSeleccionado!.fill" (change)="actualizarColor($event)" />
      </div>
      <br>
      <label for="color">Selecciona el color del borde: </label>
      <input type="color" id="color" [value]="objetoSeleccionado!.stroke" (change)="actualizarColorBorde($event)" />

    <br>
    <br>
    <p>Tipo de figura = {{ objetoSeleccionado.type }}</p>
    <p>Coordenada X = {{ objetoSeleccionado.left }}</p>
    <p>Coordenada Y = {{ objetoSeleccionado.top }}</p>
  </div>
</div>
