.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* Ajustar al tamaño deseado */
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  /* Ocupa 1/4 del ancho */
  min-width: 200px;
  /* Ancho mínimo para la barra lateral */
  max-width: 25%;
  /* Ancho máximo para la barra lateral */
  padding: 10px;
  box-sizing: border-box;
  align-content: flex-start;
}

ul {
  list-style: decimal-leading-zero;
  padding: 2;
  margin: 5;
}

.figuras-list {
  background-color: rgb(0, 238, 255);
  /* Color de fondo si es necesario */
  border: 1px solid #ccc;
  /* Borde si es necesario */
  border-radius: 5px;
  /* Borde redondeado si es necesario */
  max-height: 450px;
  /* Altura máxima con margen superior e inferior */
  overflow-y: auto;
  /* Agregar barra de desplazamiento vertical si es necesario */
  z-index: 1;
  /* Asegurarse de que esté por encima del canvas u otros elementos */
  width: 100%;
}

.propiedades-figura {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 400px;
  z-index: 1;
  width: 100%;
  padding: 10px;
}

.tamaño-boton {
  font-size: 20px;
  /* Ajusta el tamaño de la fuente */
  padding: 15px 30px;
  margin-left: 10px;
  margin-top: 5px;
}

.tamaño-lista {
  font-size: 15px;
  /* Ajusta el tamaño de la fuente */
  padding: 10px 15px;
  margin-top: 3px;
  width: 100%;
  /* Opcional: Ajusta el ancho de los botones */
}

.canvas-container {
  flex: 1;
  width: 100%;
  /* Ajustar el ancho del contenedor según sea necesario */
  display: flex;
  /* Usar flexbox para centrar el canvas */
  margin-top: 10px;
  margin-left: 10px;
}

canvas {
  /* Estilos adicionales para el canvas */
  display: block;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border: 2px solid #ccc;
}

.botones {
  width: 100%;
  margin-top: 5px;
}
